<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidebarmenu.toggle()">menu</mat-icon>
    </button>
    <h2>Angular Sidenav</h2>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidebarmenu>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'"> Home </a>
      <a mat-list-item [routerLink]="'/about'"> About </a>
      <a mat-list-item [routerLink]="'/products'"> Products </a>
      <a mat-list-item [routerLink]="'/contact'"> Contact </a>
      <a mat-list-item [routerLink]="'/profile'"> Profile </a>
      <a mat-list-item (click)="sidebarmenu.toggle()" href="#" mat-list-item>
        Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>